/* Admin view specific */
.choose-thumbnail-text-class {
    display: none; 
    font-size: .8em;
}

.thumbnail-error-class {
    position: absolute; 
    top: 0rem;
}

.image-choice {
    cursor: pointer;

}

.image-choice:hover {
    border: 1px solid darkgray;
}

.image-choice:active {
    border: 1px solid gray;
}

.image-choices-class {
    width: 15rem;
}

.id-input {
    width: 9rem;
}

.delete-btn {
    font-size: .75rem;
    position: absolute;
}

.search-bar {
    width: 20rem;
}

.logout-btn {
    position: absolute;
    right: 1rem;
    top: 0.7rem;
}

@media (min-width: 768px) {
    .logout-btn {
        top: 1rem;
    }
}
