/* Common */
:root {
    --default-text-color: #212529;
}

.fill-width {
    width: 100%;
}

hr {
    margin: 0;
}

.no-margin {
    margin: 0;
}

.inactive-text-color {
    color: lightgray;
}

.active-text-color {
    color: var(--default-text-color);
}

.brand-logo {
    width: 5rem;
}

.text-btn-hover:hover {
    cursor: pointer;
    color: darkgray;
}

.text-btn {
    cursor: pointer;
}

.text-btn:active {
    color: gray;
}

.hidden {
    display: none !important; /* Meant to overwrite Bootstrap classes that change display attribute. */
}
