/* Product Listings */
.product-listing {
    font-size: .7rem;
    width: 12em;
}

@media (min-width: 768px) {
    .product-listing {
        font-size: 1rem;
    }
}

.product-listing:hover {
    cursor: pointer;
    border: 1px solid darkgray !important;
}

.product-listing:active {
    cursor: pointer;
    border: 1px solid gray !important;
}

.product-listing-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.listing-price {
    font-size: 1.25em;
}

.listing-anchor {
    color: var(--default-font-color);
    text-decoration: none;
}

.listing-other-metadata {
    font-size: .8em;
}
