/* Image related */
.image-choice {
    cursor: pointer;

}

.image-choice:hover {
    border: 1px solid lightgray;
}

.image-choice:active {
    border: 1px solid darkgray;
}

.image-choices-class {
    width: 15rem;
}

.product-image {
    object-fit: contain;
}

.product-image-large {
    width: 15rem; 
    height: 20rem;
}

.product-image-small {
    width: 12rem; height: 16rem;
}

/* General */
.fill-width {
    width: 100%;
}

hr {
    margin: 0;
}

.no-margin {
    margin: 0;
}

/* Listing */
.product-listing {
    width: 12rem;
}

/* Admin view specific */
.thumbnail-text-class {
    display: none; 
    font-size: .8em;
}

.thumbnail-error-class {
    position: absolute; 
    top: 0rem;
}