{% extends 'admin_layout.html' %}

{% block head %}
    <title>Users</title>
{% endblock %}

{% block javascript %}
    <script src="{{ url_for('static', filename='js/admin_users_view.js') }}"></script>
{% endblock %}


{% block body %}
    <div class="d-flex flex-column justify-content-center align-items-center fill-width">
        <h2 class="m-4">Admin User Registrations</h2>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Approval Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="registrations-table-body">
                {% for users in users %} 
                    <tr class="registration-rows">
                        <td>{{ users['id'] }}</td>
                        <td>{{ users['username'] }}</td>
                        <td>{{ users['approved'] }}</td>
                        <td class="d-flex justify-content-center">
                            <form class="admin-approval-form" action="/approve_user" method="POST">
                                <input name="admin-id" type="hidden" value="{{ users['id'] }}">
                                <input type="submit" class="btn btn-primary" value="Approve">
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}