{% extends 'layout.html' %}

{% block head %}
    <title>Admin View</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/product_listings.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/images.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin_view.css') }}">
{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='js/admin_view.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="container">
    <div class="row">
        <div class="col">
            <div class="d-flex justify-content-center">
                <h1 class="p-2">Admin View</h1>
            </div>
            <hr>
            <!-- Add/Edit buttons -->
            <div class="d-flex justify-content-center fill-width pt-4">
                <h2 id="add-form-button" class="active-text-color text-btn text-btn-hover">Add</h2>
                <h2 class="px-2">|</h2> 
                <h2 id="edit-form-button" class="inactive-text-color text-btn text-btn-hover">Edit</h2>
            </div>
            <!-- Product Editing -->
            <form id="product-form" action="/admin_add_product" method="POST" enctype="multipart/form-data">
                <div class="d-flex justify-content-center flex-wrap">
                    <div class="d-flex flex-column p-4 align-items-center">
                        <!-- Image Section -->
                        <div style="position: relative;">
                            <img 
                                id="product-thumbnail"
                                class="img-thumbnail product-image product-image-large">
                            <div 
                                id="thumbnail-error-message" 
                                class="d-flex justify-content-center align-items-center px-3 thumbnail-error-class 
                                product-image-large">
                            </div>
                            <input id="thumbnail-index" type="hidden" name="thumbnail-index">
                        </div>
                        <div 
                            id="image-choices" 
                            class="d-flex flex-wrap image-choices-class">
                        </div>
                        <em id="choose-thumbnail-text" class="choose-thumbnail-text-class">
                            Pick an image to use as a product thumbnail.
                        </em>
                        <div class="p-2" style="width: 16rem">
                            <input id="image-upload-input" class="form-control" type="file" name="images" 
                            multiple>
                        </div>
                    </div>
                    <!-- Add form -->
                    <div id="add-form">
                        <div class="d-flex flex-column p-4">
                            <!-- Item Info Section  -->
                            <label for="name">Product Name:</label>
                            <input class="form-control" type="text" name="name">
                            <label for="price">Price:</label>
                            <input class="form-control" type="text" name="price">
                            <label for="stock">Stock:</label>
                            <input class="form-control" type="text" name="stock">
                            <label for="release">Release Date:</label>
                            <input class="form-control" type="date" name="release">
                            <label for="description">Description:</label>
                            <textarea class="form-control" name="description"></textarea>
                            <label for="tags">Tags:</label>
                            <textarea
                                class="form-control"
                                name="tags"
                                placeholder="Seperate with commas (e.g. 'ps5, game, action')."></textarea>
                            <input class="mt-3 btn btn-primary" type="submit" value="Add Product">
                        </div>
                    </div>
                    <!-- Edit form -->
                    <div id="edit-form">
                        <div class="d-flex flex-column p-4">
                            <!-- Item Info Section  -->
                            <label for="id">Product ID:</label>
                            <div class="d-flex justify-content-between">
                                <input id="edit-form-id" class="form-control id-input" type="text" name="edit-id">
                                <input id="get-product-button" class="btn btn-primary" type="button" value="Get">
                            </div>
                            <label for="edit-name">Product Name:</label>
                            <input id="edit-form-name" class="form-control" type="text" name="edit-name">
                            <label for="edit-price">Price:</label>
                            <input id="edit-form-price" class="form-control" type="text" name="edit-price">
                            <label for="edit-stock">Stock:</label>
                            <input id="edit-form-stock" class="form-control" type="text" name="edit-stock">
                            <label for="edit-release">Release Date:</label>
                            <input id="edit-form-release" class="form-control" type="date" name="edit-release">
                            <label for="edit-description">Description:</label>
                            <textarea 
                                id="edit-form-description" 
                                class="form-control" 
                                name="edit-description"></textarea>
                            <label for="edit-tags">Tags:</label>
                            <textarea
                                id="edit-form-tags"
                                class="form-control"
                                name="edit-tags"
                                placeholder="Seperate with commas (e.g. 'ps5, game, action')."></textarea>
                            <input class="mt-3 btn btn-primary" type="submit" value="Edit Product">
                        </div>
                    </div>
                </div>
            </form>
            <hr>
            <!-- Product Viewing -->
            <!-- Search -->
            <div class="d-flex justify-content-center fill-width m-3">
                <input id="search-field" class="form-control search-bar me-2" type="text">
                <input id="search-button" class="btn btn-primary" type="button" value="Search">
            </div>
            <!-- Listings -->
            <div id="listings" class="d-flex p-4">
            {% for product in products %}
                <div class="d-flex flex-column border rounded product-listing mx-4">
                    <button 
                        id="{{ product['id'] }}" 
                        class="delete-product-button delete-btn btn btn-danger m-2">
                            Delete
                    </button>
                    <a class="listing-anchor" href="/product/{{ product['id'] }}">
                        <img
                            src="{{ url_for('static', filename=product['image']) }}"
                            class="img-thumbnail product-image product-image-small">
                        <div class="d-flex flex-column px-2 pb-2 fill-width">
                            <span id="product-name">
                                {{ product['name'] }}
                            </span>
                            <div class="d-flex justify-content-between listing-other-metadata">
                                <p>
                                    ID: {{ product['id'] }}
                                </p>
                                <p>
                                    {{ product['tags'][0] }} | {{ product['tags'][1] }}
                                </p>
                            </div>
                            <hr>
                            <div class="d-flex justify-content-between align-items-end py-2">
                                <span class="listing-price">
                                    ₱ {{ product['price'] }}
                                </span>
                                <span>
                                    Stock: {{ product['stock'] }}
                                </span>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
    </div>

    <script>
        const staticPrefix = '{{ url_for("static", filename="") }}';
    </script>
{% endblock %}